/*-- scss:defaults --*/
$primary: #1a5276;
$body-color: #222;
$link-color: $primary;

/*-- scss:rules --*/
.navbar-title { font-weight: 600; }
body { font-size: 1.02rem; line-height: 1.6; }
h2 { margin-top: 2rem; }
