<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "mainEntity": {
    "@type": "Person",
    "name": "Mauricio Romero",
    "jobTitle": "Associate Professor of Economics",
    "affiliation": {
      "@type": "Organization",
      "name": "Instituto Tecnológico Autónomo de México (ITAM)"
    },
    "email": "mailto:mtromero@itam.mx",
    "url": "https://mauricio-romero.com",
    "sameAs": [
      "https://scholar.google.com/citations?user=BD8UfDoAAAAJ",
      "https://twitter.com/marome1"
    ]
  }
}
</script>
